<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="localhost_LDB_Connection" connectionString="XpoProvider=MSSqlServer;data source=ADMINTECH;integrated security=SSPI;initial catalog=LDB" />
        <add name="localhost_LDB_Connection 1" connectionString="XpoProvider=MSSqlServer;data source=ADMINTECH;integrated security=SSPI;initial catalog=LDB" />
        <add name="localhost_LDB_Connection 2" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-5GAFRPK;integrated security=SSPI;initial catalog=LDB" />
        <add name="localhost_LDB_Connection 3" connectionString="XpoProvider=MSSqlServer;data source=ADMINTECH;user id=sa;password=123456;initial catalog=LDB;Persist Security Info=true" />
        <add name="localhost_LDB_Connection 4" connectionString="XpoProvider=MSSqlServer;data source=ADMINTECH;user id=;password=;initial catalog=LDB;Persist Security Info=true" />
        <add name="localhost_LDB_Connection 5" connectionString="XpoProvider=MSSqlServer;data source=ADMINTECH;user id=;password=;initial catalog=LDB;Persist Security Info=true" />
        <add name="localhost_LDB_Connection 6" connectionString="XpoProvider=MSSqlServer;data source=ADMINTECH;user id=;password=;initial catalog=LDB;Persist Security Info=true" />
        <add name="localhost_LDB_Connection 7" connectionString="XpoProvider=MSSqlServer;data source=ADMINTECH;user id=;password=;initial catalog=LDB;Persist Security Info=true" />
        <add name="localhost_LDB_Connection 8" connectionString="XpoProvider=MSSqlServer;data source=ADMINTECH;integrated security=SSPI;initial catalog=LDB" />
        <add name="localhost_LDB_Connection 9" connectionString="XpoProvider=MSSqlServer;data source=ADMINTECH;user id=;password=;initial catalog=LDB;Persist Security Info=true" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>